:root {
    --fondo-degradado-inicio: #a8edea;
    --fondo-degradado-fin: #fed6e3;
    --texto-principal: #333;
    --texto-secundario: #555;
    --borde-enfoque: #a8edea;
    --boton-degradado-inicio: #2dc637;
    --boton-degradado-fin: #11bb17;
    --boton-hover: #21d569;
    --hover-color: #0066ff;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, var(--fondo-degradado-inicio), var(--fondo-degradado-fin));
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh; 
    overflow: auto; 
  }
  
  .container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 2rem 0;
  }
  
  h1 {
    color: var(--texto-principal);
    text-align: center;
    margin-bottom: 1rem;
  }
  
  h2 {
    color: var(--texto-secundario);
    margin-top: 1.5rem;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  h2:hover {
    color: var(--hover-color);
  }
  
  .field {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--texto-secundario);
    font-size: 0.9rem;
  }
  
  input[type="text"],
  input[type="datetime-local"],
  textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
    box-sizing: border-box;
    transition: border-color 0.3s;
  }
  
  input:focus,
  textarea:focus {
    border-color: var(--borde-enfoque);
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    color: white;
    background: linear-gradient(135deg, var(--boton-degradado-inicio), var(--boton-degradado-fin));
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background: var(--boton-hover);
  }
  
  @media (max-width: 768px) {
    .container {
        padding: 1.5rem;
    }
  
    h1 {
        font-size: 1.5rem;
    }
  
    h2 {
        font-size: 1.2rem;
    }
  
    input[type="text"],
    input[type="datetime-local"],
    textarea {
        font-size: 0.8rem;
    }
  
    button {
        font-size: 0.9rem;
    }
  }
  .table-container {
    overflow-x: auto;
    max-width: 100%;
  }
  
  .results-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  