
.gestion-usuarios-container {
  display: flex;                   
  flex-direction: column;          
  justify-content: center;         
  align-items: center;             
  height: 100vh;                   
  width: 100%;
  background-color: var(--background-color); 
  padding: 40px;                   
}

.gestion-usuarios-buttons {
  display: flex;
  flex-direction: column;           
  gap: 15px;                        
  margin-top: 20px;
  width: 100%;
  max-width: 400px;                 
}

.btn-usuarios {
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;               
  background: var(--primary-color); 
  color: white;
  transition: all 0.3s ease-in-out;
  width: 100%;                      
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
}

.btn-usuarios:hover {
  background: var(--secondary-color);
  transform: translateY(-3px);       
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-back {
  position: absolute;
  top: 30px;
  left: 50px;
  background-color: #8895a2;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}

.btn-back:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
}
